@import url('https://fonts.googleapis.com/css?family=Abel')

$theme = rgb(0, 0, 255)
$themeInvert = rgb(255, 255, 0)


html
body
  font-size 1rem

body
  -webkit-print-color-adjust exact
  color black
  font-family 'Abel', sans-serif
  margin 0
  padding 0

h1
  font-size 32px

h2
  font-size 28px
  margin-top 3rem

h3
  font-size 21px

a
  background: repeating-linear-gradient(45deg, $themeInvert, $themeInvert 1px, white 1px, white 5px)
  color: $theme
  outline 0
  text-decoration none
  &:focus
    background: $theme
    color: $themeInvert
  @media (hover:hover)
    &:hover
      background: $theme
      color: $themeInvert

hr
  border solid .5px black
